<h2  class="leftcolor-pink">マイページ
<style type="text/css">
  .leftcolor-pink{
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #fa8072;
  color: gray;
  }
</style>
</h2>

<div class="row">
  <h4 class="col-lg-2">登録情報</h4>
  <div class="col-lg-10">
    <%= link_to '編集する', '/customers/edit', class: "btn btn-success btn-sm" %>
  </div>
</div>

<div class="row">

<div class="col-lg-8">
<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th class="table-secondary" style="width :30%">氏名</th>
      <td style="width :50%"><%= @customer.last_name %>  <%= @customer.first_name %></td>
    </tr>
    <tr>
      <th class="table-secondary">カナ</th>
      <td><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <th class="table-secondary">郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th class="table-secondary">住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th class="table-secondary">電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th class="table-secondary">メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="row">
  <h4 class="col-lg-2">配送先</h4>
  <div class="col-lg-10">
   <%= link_to '一覧を見る',addresses_path(current_customer.id), class: "btn-sm btn-primary" %>
  </div>
</div>
<div class="row">
  <h4 class="col-lg-2">注文履歴</h4>
  <div class="col-lg-10">
   <%= link_to '一覧を見る',orders_path(current_customer.id), class: "btn-sm btn-primary" %>
  </div>
</div>
