<h2>マイページ</h2>

<div class="row">
  <div class="col-lg-2">
    <h4>登録情報</h4>
  </div>
  <div class="col-lg-10">
    <%= link_to '編集する', '/customers/edit', class: "btn btn-success btn-sm" %>
  </div>
</div>

<div class="row">

<div class="col-lg-8">
<table class="table table-sm table-bordered">
  <tbody>
    <tr>
      <th class="table-secondary" style="width :30%">氏名</th>
      <td style="width :50%"><%= @customer.last_name %>  <%= @customer.first_name %></td>
    </tr>
    <tr>
      <th class="table-secondary">カナ</th>
      <td><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <th class="table-secondary">郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th class="table-secondary">住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th class="table-secondary">電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th class="table-secondary">メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>
</div>
</div>

<h4>配送先</h4>
<%= link_to '一覧を見る', addresses_path, class:"btn btn-primary" %>

<h4>注文履歴</h4>