<h2>商品一覧</h2>

<%= link_to '商品登録画面', new_admin_item_path %>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <th><%= item.id %></th>
      <th><%= link_to item.name, admin_item_path(item.id) %></th>
      <th><%= item.price.to_s(:delimited) %></th>
      <th><%= item.genre.name %></th>
      <th>
        <% if item.is_active == true %>
          販売中
        <% else %>
          販売停止中
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>