<h2>商品一覧</h2>

<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <th><%= item.id %></th>
      <th><%= item.name %></th>
      <th><%= item.price %></th>
      <th><%= item.genre %></th>
      <th><%= item.is_active %></th>
    </tr>
    <% end %>
  </tbody>
</table>
