<div class="container">
  <h2 class="btn btn-secondary btn-lg mb-5">商品新規登録</h2>

<div class="center-block">
<table>
  <tbody>
    <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
    <tr>
      <th style="width: 15%">商品画像</th>
      <th style="width: 45%"><%= f.file_field :image, accept: "image/*" %></th>
    </tr>
    <tr>
      <th>商品名</th>
      <th><%= f.text_field :name, class:"form-control w40" %></th>
    </tr>
    <tr>
      <th>商品説明</th>
      <th><%= f.text_area :introduction, class:"form-control w40" %></th>
    </tr>
    <tr>
      <th>ジャンル</th>
      <th>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: '--選択してください--'} %>
      </th>
    </tr>
    <tr>
      <th>税抜価格</th>
      <th><%= f.text_field :price %>円</th>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <th>
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th><%= f.submit '新規登録',class:"btn btn-primary" %></th>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>