<h2 class="btn btn-secondary btn-lg mb-5">商品詳細</h2>

<div class="container">
  <div class="row">

    <div class="col-lg-4">
      <%= attachment_image_tag @item, :image, :fill, 300, 200, format: 'jpeg' %>
    </div>

  <div class="col-lg-8">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th style="width: 25%">商品名</th>
          <th style="width: 75%"><%= @item.name %></th>
        </tr>
        <tr>
          <th>商品説明</th>
          <th><%= @item.introduction %></th>
        </tr>
        <tr>
          <th>ジャンル</th>
          <th><%= @item.genre.name %></th>
        </tr>
        <tr>
          <th>税込価格<br>（税抜価格）</th>
          <th><%= @item.add_tax_price.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</th>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <th>
          <% if @item.is_active == true %>
            <p class="text-success">販売中</p>
          <% else %>
            <p class="text-muted">販売停止中</p>
          <% end %>
          </th>
        </tr>
      </tbody>
    </table>

  <%= link_to '編集する', edit_admin_item_path, class: "btn btn-success btn-lg mb-5" %>

    </div>
  </div>
</div>