<h2><%= @customer.full_name %>さんの会員詳細</h2>

<table>
  <tbody>
    <tr>
      <th>会員ID</th>
      <th><%= @customer.id %></th>
    </tr>
    <tr>
      <th>氏名</th>
      <th><%= @customer.last_name %> <%= @customer.first_name %></th>
    </tr>
    <tr>
      <th>フリガナ</th>
      <th><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th><%= @customer.postal_code %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= @customer.address %></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th><%= @customer.telephone_number %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= @customer.email %></th>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <th>
        <% if @customer.is_active == true %>
          有効
        <% else %>
          無効
        <% end %>
      </th>
    </tr>
  </tbody>
</table>

<%= link_to '編集する',edit_admin_customer_path(@customer.id) %>

<%= link_to '注文履歴一覧を見る',admin_customers_path %>