<h2 class="leftcolor-pink">ジャンル一覧・追加
<style type="text/css">
  .leftcolor-pink{
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #fa8072;
  color: gray;
  }
</style>
</h2>


  <%= form_with model: Genre.new, url: admin_genres_path, local: true do |f| %>
    <span class="pr-3">ジャンル名</span>
    <%= f.text_field :name %>
    <%= f.submit '新規登録',class: "btn btn-success" %>
  <% end %>


<div class="col-lg-6">
  <table class="table mt-5">
    <thead class="table-primary">
      <tr>
        <th style="width: 40%">ジャンル</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>

    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td><%= link_to '編集する', edit_admin_genre_path(genre.id), class: "btn btn-success btn-sm" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>