<h2 class="leftcolor-pink">配送先編集
<style type="text/css">
  .leftcolor-pink{
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #fa8072;
  color: gray;
  }
</style>
</h2>

<%= form_with model: @address, url: address_path, local:true do |f| %>
<table class="table-sm">
  <tbody>
    <tr>
      <th>郵便番号（ハイフンなし）</th>
      <td><%= f.text_field :postal_code, class:"form-control w40" %></td>
      <td></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address, class:"form-control w80" %></td>
      <td></td>
    </tr>
    <tr>
      <th>宛名</th>
      <td><%= f.text_field :name, class:"form-control w40" %></td>
      <td><%= f.submit '変更内容を保存',class:"btn btn-success" %></td>
    </tr>
  </tbody>
</table>
<% end %>