<div class="row">
  <div class="col-lg-10">
    <h2 class="leftcolor-pink">ショッピングカート
    <style type="text/css">
      .leftcolor-pink{
      padding-left: 10px ;
      border-left-width: 5px ;
      border-left-style: solid ;
      border-left-color: #fa8072;
      color: gray;
      }
    </style></h2>
  </div>
  <div class="col-lg-2">
    <%= link_to 'カートを空にする', all_destroy_path, method: :delete, class: "btn btn-danger" %>
  </div>
</div>


<table class="table table-bordered">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td>
      <%= attachment_image_tag cart_item.item, :image, :fill, 120, 80, format: 'jpeg' %>
      <%= cart_item.item.name %>
    </td>
    <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
    <%= form_with model: @cart_item, url: cart_item_path(cart_item.id), method: :patch, local:true do |f| %>
    <td>
        <%= f.select :amount, *[1..10], selected: cart_item.amount %>
        <%= f.submit '変更', class: "btn-sm btn-success" %>
    </td>
    <% end %>
    <td><%= cart_item.subtotal.to_s(:delimited) %></td>
    <td><%= link_to '削除する', cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
  </tr>
  <% @total += cart_item.subtotal %>
  <% end %>
</table>


<div class="row">
  <div class="col-lg-8">
    <%= link_to '買い物を続ける', root_path, class:"btn btn-primary" %>
  </div>
  <div class="col-lg-4">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="table-secondary">合計金額</td>
          <td><%= @total.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center">
  <% if @total == 0 %>
  <% else %>
    <%= link_to '情報入力に進む', orders_new_path, class: "btn btn-success btn-lg" %>
  <% end %>
</div>