<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<table class="table table-sm">
  <tbody class="table table-borderless">
    <tr>
      <div class="field">
        <th style="width :20%"><%= f.label :"名前" %></th>
        <td style="width :10%">（姓）</td>
        <td style="width :30%"><%= f.text_field :last_name %></td>
        <td style="width :10%">（名）</td>
        <td style="width :30%"><%= f.text_field :first_name %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th><%= f.label "フリガナ" %></th>
        <td>（セイ）</td>
        <td><%= f.text_field :last_name_kana %></td>
        <td>（メイ）</td>
        <td><%= f.text_field :first_name_kana %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th><%= f.label "メールアドレス" %></th>
        <td></td>
        <td><%= f.email_field :email, autocomplete: "email" %></td>
      </div>
    </tr>
    <tr>
      <div class="feild">
        <th><%= f.label "郵便番号（ハイフンなし）" %></th>
        <td></td>
        <td><%= f.text_field :postal_code %></td>
      </div>
    </tr>
    <tr>
      <div class="feild">
        <th><%= f.label "住所" %></th>
        <td></td>
        <td><%= f.text_field :address %></td>
      </div>
    </tr>
    <tr>
      <div class="feild">
        <th><%= f.label "電話番号（ハイフンなし）" %></th>
        <td></td>
        <td><%= f.text_field :telephone_number %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th>
          <%= f.label "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </th>
        <td></td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <th><%= f.label "パスワード（確認用）" %></th>
        <td></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </div>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td>
        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<% end %>

<h2>既に登録済みの方</h2>
<p><%= link_to 'こちら', "public/shared/links" %>　からログインしてください。</p>
