<h2 class="leftcolor-pink">注文情報確認
<style type="text/css">
  .leftcolor-pink{
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #fa8072;
  color: gray;
  }
</style>
</h2>

<%= form_with model: @order, url: orders_path, method: :post, local:true do |f| %>
<div class="row">
  <div class="col-lg-8">

<table class="table table-bordered">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td>
      <%= attachment_image_tag cart_item.item, :image, :fill, 120, 80, format: 'jpeg' %>
      <%= cart_item.item.name %>
    </td>
    <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
    <td>
        <%= cart_item.amount %>
    </td>
    <td><%= cart_item.subtotal.to_s(:delimited) %></td>
  </tr>
  <% @total += cart_item.subtotal %>
  <% end %>
</table>

  </div>
  <div class="col-lg-4">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>送料</td>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @total.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <td><%= (@total += @order.shipping_cost).to_s(:delimited) %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<table class="table table-borderless">
  <tbody>
    <tr>
      <th style="width :10%">支払方法</th>
      <td style="width :90%"><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <th>お届け先</th>
      <td>
        <%= @order.postal_code %> <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
  </tbody>
</table>

<%= f.hidden_field :payment_method ,:value => @order.payment_method %>
<%= f.hidden_field :shipping_cost ,:value => @order.shipping_cost %>
<%= f.hidden_field :address,:value => @order.address %>
<%= f.hidden_field :postal_code,:value => @order.postal_code %>
<%= f.hidden_field :name,:value => @order.name %>
<%= f.hidden_field :total_payment ,:value => @total %>

<div class="text-center">
  <%= f.submit '注文を確定する', class: "btn btn-success" %>
</div>
<% end %>