<h2>注文情報確認</h2>

<div class="row">
  <div class="col-lg-8">

<table class="table">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td>
      <%= attachment_image_tag cart_item.item, :image, :fill, 120, 80, format: 'jpeg' %>
      <%= cart_item.item.name %>
    </td>
    <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
    <%= form_with model: @cart_item, url: cart_item_path(cart_item.id), method: :patch, local:true do |f| %>
    <td>
        <%= f.select :amount, *[1..10], selected: cart_item.amount %>
        <%= f.submit '変更', class: "btn-sm btn-success" %>
    </td>
    <% end %>
    <td><%= cart_item.subtotal.to_s(:delimited) %></td>
  </tr>
  <% @total += cart_item.subtotal %>
  <% end %>
</table>

  </div>
  <div class="col-lg-4">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>送料</td>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @total.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <td><%= (@total +- @order.shipping_cost).to_s(:delimited) %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<table class="table table-borderless">
  <tbody>
    <tr>
      <th style="width :10%">支払方法</th>
      <td style="width :90%"><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <th>お届け先</th>
      <td>
        <%= @order.postal_code %> <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
  </tbody>
</table>
