<h2 class="leftcolor-pink">注文履歴一覧
<style type="text/css">
  .leftcolor-pink{
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #fa8072;
  color: gray;
  }
</style>
</h2>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th style="width :10%">注文日</th>
      <th style="width :30%">配送先</th>
      <th style="width :30%">注文商品</th>
      <th style="width :10%">支払金額</th>
      <th style="width :10%">ステータス</th>
      <th style="width :10%">注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
      <td>
        〒<%= order.postal_code %><%= order.address %><br>
        <%= order.name %>
      </td>
      <td>
        <% order.order_details.each do |order_detail| %>
          <%= order_detail.item.name %><br>
        <% end %>
      </td>
      <td><%= order.total_payment %>円</td>
      <td><%= order.status_i18n %></td>
      <td><%= link_to '表示>>', order_path(order.id), class:"btn btn-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>