<h2>注文履歴詳細</h2>

<div class="row">
    <div class="col-lg-8">
        <h4>注文情報</h4>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="table-secondary">注文日</td>
                    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
                <tr>
                    <td class="table-secondary">配送先</td>
                    <td>
                        〒<%= @order.postal_code %><br>
                        <%= @order.address %><br>
                        <%= @order.name %>
                    </td>
                </tr>
                <tr>
                    <td class="table-secondary">支払方法</td>
                    <td><%= @order.payment_method_i18n %></td>
                </tr>
                <tr>
                    <td class="table-secondary">ステータス</td>
                    <td><%= @order.status_i18n %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-4">
    <h4>請求情報</h4>
    <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-dark">送料</td>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <td class="table-dark">商品合計</td>
            <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td class="table-dark">請求金額</td>
            <td><%= @order.total_payment.to_s(:delimited) %>円</td>
          </tr>
        </tbody>
    </table>
    </div>
</div>

<h4>注文内容</h4>
<table class="table table-bordered table-sm">
    <thead class="table-success">
        <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @order_details.each do |order_detail| %>
        <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price * 1.1).floor.to_s(:delimited) %>円</td>
            <td><%= order_detail.amount %></td>
            <td><%= ((order_detail.item.price * 1.1).floor * (order_detail.amount)).to_s(:delimited) %>円</td>
        </tr>
        <% end %>
    </tbody>
</table>