<h2>ログイン</h2>

<h4>会員の方はこちらからログイン</h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table">
    <tbody class="table table-borderless">
      <tr>
        <div class="field">
          <th><%= f.label :email %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= f.label :password %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </div>
      </tr>
      <tr>
        <th></th>
        <td>
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<h4>会員登録がお済みでない方</h4>
<%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。
