<h2 class="leftcolor-pink">商品一覧
<style type="text/css">
  .leftcolor-pink{
  padding-left: 10px ;
  border-left-width: 5px ;
  border-left-style: solid ;
  border-left-color: #fa8072;
  color: gray;
  }
</style>
</h2>
<p>全<%= Item.count %>件</p>

<div class="row">
<% @items.each do |item| %>
<div class="card mb-3 mr-5" style="width: 20rem;">
  <%= link_to item_path(item.id) do %>
    <%= attachment_image_tag item, :image, :fill, 200, 150, format: 'jpeg',class:"card-img-top"; %>
  <% end %>
  <div class="card-body">
    <p class="card-text">
      <%= item.name %><br>
      ¥<%= item.add_tax_price.to_s(:delimited) %>(税抜 ¥<%= item.price.to_s(:delimited) %>)<br>
    </p>
  </div>
</div>
<% end %>
</div>

<%= paginate @items %>