<div class="container">
  <div class="row">

  <div class="col-lg-5">
      <%= attachment_image_tag @item, :image, :fill, 350, 300, format: 'jpeg' %>
    </div>

  <div class="col-lg-7">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th class="h5 bg-info text-white" style="width: 75%"><%= @item.name %></th>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>ジャンル：<%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</td>
        </tr>
        </tbody>
        </table>

        <%= form_with model: @cart_item, local:true do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :amount, *[1..10] , {include_blank: '個数選択'}%>
            <%= f.submit 'カートに入れる', class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>